<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/teacher.css">
    <link rel="stylesheet" href="/css/grid.css">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Document</title>
</head>

<body>
    <div id="fb-root"></div>
    <%- include('./partials/header'); %>
        <div class="grid wide">
            <ul class="direction">
                <li><a href="/">Trang Chủ</a>></li>
                <li><a href="/introduce">Giới Thiệu</a></li>

            </ul>
            <div id="content">
                <%- introduce[0].content%>
            </div>
            <div class="comment">

                <div class="fb-comments" data-href="https://nckh-v4cv.onrender.com/introduce" data-width="auto"
                    data-numposts="5"></div>
            </div>
        </div>
        </div>
        </div>
        <%- include('./partials/footer'); %>
            <script async defer crossorigin="anonymous"
                src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v19.0&appId=954914929286425"
                nonce="XedaI3Yc"></script>
            <script>

                document.addEventListener('DOMContentLoaded', function () {
                    const positionHeaders = document.querySelectorAll('.position-header');

                    positionHeaders.forEach(header => {
                        header.addEventListener('click', function () {
                            const members = this.nextElementSibling;
                            members.classList.toggle('hiden')

                        });
                    });
                });
            </script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
            <script src="/js/index.js"> </script>

</body>