<div class="body">
    <div class="header header_height">
        <div class="header_left">

            <div>
                <p id="time_title">Good Morning, </p>&nbsp

                <h2 id="name"> John Doe</h2>
            </div>
            <p>Chúc bạn một ngày vui vẻ!</p>
        </div>
        <div class="header_icon">
            <div class="header_calender ">
                <div class=" header_calender-icon ">
                    <i class="fa-regular fa-calendar-days"></i>
                </div>
                <div class="header_calender-title">
                    29/11/2001
                </div>
            </div>
            <div class="header_noti-icon icon">
                <i class="fa-regular fa-bell" id="noti_btn"></i>
                <div class="header_noti-dropdown" id="noti_drop">
                    <div class="header_noti-title">

                        <h3>Thông Báo</h3>
                    </div>
                    <ul class="header_noti-list">
                        <div id="add"></div>

                        <div id="editNoti"> </div>

                        <div id="delnoti"></div>
                        <div class="noti_more">
                            Xem Thêm
                        </div>

                    </ul>
                </div>
            </div>
            <div class="header__search">
                <div class="header_search-icon icon" id="search_icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <input type="search" id="header_search" placeholder="Search Here">
            </div>

            <div class="header_user">
                <div class="header_user-img" id="user_btn">
                    <img src="/img/logoUser.png" alt="">
                </div>
                <div class="header_user-dropdown hiden" id="user_drop">
                    <div class="header_user-img">
                        <img src="/img/logoUser.png" alt="">
                    </div>
                    <div class=" header_user-name">
                        Lê Đình Việt
                    </div>
                    <div class="header_user-mail">
                        Levietth001@gmail.com
                    </div>
                    <ul class="header_user-list">
                        <li class="header_user-item"><a href="/user/info_user">
                                <i class="fa-regular fa-user"></i>
                                Trang Cá Nhân
                            </a></li>
                        <li class="header_user-item"><a href="">
                                <i class="fa-solid fa-lock"></i>
                                Admin
                            </a></li>
                        <li class="header_user-item"><a href="">
                                <i class="fa-solid fa-right-from-bracket"></i>
                                Đăng Xuất
                            </a></li>
                        <li class="header_user-item"><a href="">

                            </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>