<header>
    <%- include('./login'); %>
        <div class="header">

            <div class="grid wHeader">
                <div class="header-content">
                    <div class="header-img">

                        <img src="/img/header.jpg" alt="">
                    </div>
                    <div class="header-right">
                        <div class="header-user-success hiden">
                            <i class='bx bxs-user-circle'></i>
                            <Span class="btn_hov" id="usersuccess"></Span>
                            <i class='bx bx-chevron-down'></i>
                            <ul class="user-list hiden ">
                                <li class="user-item">
                                    <i class='bx bxs-user-rectangle'></i>
                                    <a href="/user/info_user">Thông Tin Tài Khoản

                                    </a>
                                </li>
                                <li class="user-item " id="adminrole">

                                </li>
                                <li class="user-item">
                                    <i class='bx bx-log-out'></i>
                                    <a id="logout">Đăng Xuất</a>
                                </li>
                            </ul>
                        </div>
                        <div class="header-user">
                            <a id="btn_login">Đăng Nhập</a>
                            <div></div>
                            <a href="/user/register">Đăng Ký</a>
                        </div>
                        <div class="header-search">
                            <input type="text" placeholder="Tìm Kiếm.......">
                            <i class='bx bx-search-alt-2'></i>
                        </div>
                        <div class="header-date">
                            <div class="time" id="time">

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="header_drop_back">
                <div class="grid wide">
                    <div class="header_drop">
                        <ul class="drop_list">
                            <li class="drop_item">
                                <a href="/"><i class="fa-solid fa-house"></i></a>
                            </li>
                            <% for (var i=0; i < data.length; i++) { %>
                                <li class="drop_item"><a href="/<%= data[i].link %>">

                                        <%= data[i].name %>

                                    </a></li>
                                <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</header>