<div class="login_form hiden">
    <div class="modal">
    </div>
    <div class="modal-login">
        <div class="header-login">
            <h4>Đăng Nhập</h4>
            <i class='bx bx-x'></i>
        </div>
        <form class="body-login" id="form" method="post" action="/user">
            <div class="login-form">
                <i></i>
                <input type="text" id="login" name="login" placeholder="Nhập Vào usename">

            </div>
            <div class="login-form">
                <input type="password" id="password" name="password" placeholder="Password">
                <div class="err"></div>
            </div>
            <div class="body-btn">
                <button class="login_submid">Đăng Nhập</button>
            </div>
        </form>

        <p class="body-register">Bạn Chưa Có Tài Khoản???<a href="./register.html">Đăng Ký</a></p>




    </div>
</div>