<nav class="sidebar">
    <div class="sidebar_header header_height">
        <div class="bar" id="bar">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div class="title">
            <h2>Admin</h2>
        </div>
    </div>
    <ul class="sidebar_list">
        <li class="sidebar_item active">
            <div class="sidebar_i-left">
                <i class="fa-solid fa-border-all"></i>
                <span>Dashboard</span>
            </div>
        </li>
        <div id="role">

        </div>
        <p class="sidebar_title">Tin Tức</p>
        <li class="sidebar_item ">
            <div class="sidebar_i">
                <div class="sidebar_i-left">

                    <i class="fa-solid fa-newspaper"></i>
                    <span>Tin Tức</span>
                </div>
                <div class="sidebar_item-more">
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
            </div>
            <ul class="sidebar_item-list">
                <li class="sidebar_item-item">
                    <a href="">
                        <i class="fa-solid fa-list"></i>
                        Danh sách Tin Tức
                    </a>
                </li>
                <li class="sidebar_item-item">
                    <a href="">
                        <i class="fa-solid fa-plus"></i>
                        Thêm Tin Tức
                    </a>
                </li>

            </ul>
        </li>
        <p class="sidebar_title">Tin Tức</p>
        <li class="sidebar_item ">
            <div class="sidebar_i">
                <div class="sidebar_i-left">

                    <i class="fa-solid fa-newspaper"></i>
                    <span>Tin Tức</span>
                </div>
                <div class="sidebar_item-more">
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
            </div>
            <ul class="sidebar_item-list">
                <li class="sidebar_item-item">
                    <a href="/admin/2">
                        <i class="fa-solid fa-list"></i>
                        Danh sách Tin Tức
                    </a>
                </li>
                <li class="sidebar_item-item">
                    <a href="add_news">
                        <i class="fa-solid fa-plus"></i>
                        Thêm Tin Tức
                    </a>
                </li>
                <li class="sidebar_item-item">
                    <a href="/admin/news_group">
                        <i class="fa-solid fa-plus"></i>
                        Nhóm tin
                    </a>
                </li>
                <div id="role_news"></div>  
            </ul>
        </li>
    </ul>

</nav>