<div class="admin__left">
    <div class="menu">
        <ul class="menu_list">
            <% for (var i=0; i < sidebar.length; i++) { %>
                <li class="menu_item">
                    <a href=" <%= sidebar[i].id  %>">

                        <i class='bx bx-home'></i>
                        <%= sidebar[i].name %>
                    </a>
                </li>
                <% } %>
        </ul>
    </div>
</div>