<div class="admin__left">
    <div class="menu">
        <ul class="menu_list">
            <% for (var i=0; i < sidebar.length; i++) { %>
                <li class="menu_item">
                    <i class='bx bx-home'></i>
                    <%= sidebar[i].name %>
                </li>
                <% } %>
        </ul>
    </div>
</div>