<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/admin.css">
    <title>Document</title>
</head>

<body>
    <%- include('../partials/header'); %>
        <div class="grid wide">
            <div class="admin">

                <div class="row">
                    <div class="col m-3">
                        <div class="admin__left">
                            <div class="menu">
                                <ul class="menu_list">
                                    <% for (var i=0; i < sidebar.length; i++) { %>
                                        <li class="menu_item active">
                                            <i class='bx bx-home'></i>
                                            <%= sidebar[i].name %>
                                        </li>
                                        <% } %>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col m-9">
                        <div id="content">

                        </div>
                    </div>

                </div>

            </div>

            <script>
                document.getElementById('content').innerHTML = ` <%- include('../partials/news_admin'); %>`
                const menu_item = document.querySelectorAll('.menu_item')
                const content = document.querySelectorAll('.content')
                menu_item.forEach((e, i) => {
                    e.onclick = () => {
                        console.log(e);

                    }
                })

            </script>
            <script src="/js/ck.js"></script>
            <script src="/js/admin.js"> </script>
</body>

</html>